doctype html
html
  head
    title Who Won On The Spot
    meta(name="viewport", content="width=device-width, intial-scale=1")
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/main.css')
  body
    block content